@import "reset.less";
@import "fonts.less";
@import "./fluid-space.less";
@import "./fluid-typography.less";

html {
	font-size: 6.25%;
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-family: var(--font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif);
}

body {
	position: relative;
	font-size: 16em;
	text-rendering: geometricPrecision;
	min-width: 359rem;
	background: var(--colors-red-100);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.access__heading {
	.fluid-text-clamp(18rem, 32rem) !important;
}

.access__text {
	.fluid-text-clamp(14rem, 16rem) !important;
}

.access__email-signup-form {
	.fluid-text-clamp(10rem, 14rem) !important;
}

.access__email-signup-form__input {
	.fluid-text-clamp(10rem, 12rem) !important;
}